header h1 {
    color: white;
    margin-left: 10%;
    text-align: left;
    font-weight: bolder;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: rgb(142, 27, 62);
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(105, 22, 47), rgb(142, 27, 62));
}

body {
    margin: 0;
}

h1 {
    color: blue;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

a:link {
    color: bisque
}

a:visited {
    color: bisque
}

a:hover {
    color: rgb(236, 146, 72)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
    font-weight: 1000;

}

li, li a {
    color: white;
    text-decoration: none
}

footer h3 {
    text-align: center;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, .7);
    padding: 1em;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

h1 {
    color: blue;
    text-align: center;
}