header h1{
    color: white;
    margin-left: 10%;
    text-align: left;
    font-weight: bolder;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: rgb(142, 27, 62);
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(105, 22, 47), rgb(142, 27, 62));
}

body {
    margin: 0;
}

h1 {
    color: blue;
    text-align: center;
    font-family: Qatar;
}

a:link {
    color: bisque
}

a:visited {
    color: bisque
}

a:hover {
    color: rgb(236, 146, 72)
}

@font-face {
    font-family: Qatar;
    src: url(font/Qatar.ttf);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: Qatar;
    font-weight: 1000;

}

li, li a {
    color: white;
    text-decoration: none
}

footer h3 {
    text-align: center;
    color: wheat;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0);
    padding: 1em;
}

h3 {
    font-family: Qatar;
    font-weight: 900;
    font-size: 25px;
}

h1 {
    color: black;
    text-align: center;
}
h2{
    font-family: Qatar;
}
html{
    background-image: url(imgs/fundo.jpg);
}
main {
    margin-left: 5%;
    margin-right: 5%;
    border: 10px solid rgb(95, 12, 37);
    margin: 6em;
    padding: 4em;
    background-color: rgb(255, 255, 255);
}

h1 {
    color: black;
    text-align: center;
}

.craques1, .craques2{
    width: 375px;
    height: 250px;
}
#melhores {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vini {
    position: absolute; top: 400px; left: 700px;
}

#textovini {
    position: absolute; top: 490px; left: 450px;
}

.nomes {
    margin-left: 550px;
}

#textorodrygo {
    position: absolute; top: 830px; left: 450px;
}

#textodavies {
    position: absolute; top: 1160px; left: 450px;
}

#textonunez {
    position: absolute; top: 1490px; left: 450px;
}

#textopedri {
    position: absolute; top: 1820px; left: 450px;
}

#textofelix {
    position: absolute; top: 2150px; left: 450px; 
}

#textomodric {
    position: absolute; top: 2540px; left: 450px;
}

#textodebruyne {
    position: absolute; top: 2860px; left: 450px;
}
a {
    cursor: pointer;
}    

#textodijk {
    position: absolute; top: 3200px; left: 450px;
}

#textobale {
    position: absolute; top: 3530px; left: 450px;
}

#textosuarez {
    position: absolute; top: 3860px; left: 450px;
}

#textomane {
    position: absolute; top: 4200px; left: 450px;
}

#textokoulibaly {
    position: absolute; top: 4520px; left: 450px;
}

#textolewa {
    position: absolute; top: 4850px; left: 450px;
}

#textokroos {
    position: absolute; top: 5180px; left: 450px;
}

#textoneuer {
    position: absolute; top: 5510px; left: 450px;
}

#textodimaria {
    position: absolute; top: 5840px; left: 450px;
}    

#textoson {
    position: absolute; top: 6170px; left: 450px;
}

#textonavas {
    position: absolute; top: 6500px; left: 450px;
}

#textoneymar {
    position: absolute; top: 7310px; left: 450px;
}

#textomessi {
    position: absolute; top: 7645px; left: 450px;
}

#textocr7 {
    position: absolute; top: 7980px; left: 450px;
}

#textodejong {
    position: absolute; top: 8360px; left: 450px;
}

#textombappe {
    position: absolute; top: 8700px; left: 450px;
}

#textokane {
    position: absolute; top: 9030px; left: 450px;
}

#titulomelhores {
    margin-left: 400px;
}
