header h1 {
    color: white;
    margin-left: 10%;
    text-align: left;
    font-weight: bolder;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: Qatar, sans-serif;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}

header {
    background-color: rgb(142, 27, 62);
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(105, 22, 47), rgb(142, 27, 62));
}

body {
    margin: 0;
}
h1 {
    font-family: Qatar, sans-serif;
    color: black;
    text-align: center;
}

footer h3 {
    text-align: center;
    color: wheat;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0);
    padding: 1em;
}

@font-face {
    font-family: Qatar;
    src: url(font/Qatar.ttf);
}

footer a:link, header a:link, #indice a:link, #catar:link{
    color: bisque;
}

footer a:visited, header a:visited, #indice a:visited, #catar:visited{
    color: bisque;
}

footer a:hover, header a:hover, #indice a:hover, #catar:hover{
    color: rgb(236, 146, 72);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: Qatar, sans-serif;
    font-weight: 1000;

}

nav li,
li a {
    color: white;
    text-decoration: none
}
.bandeira {
    justify-content: flex-start;
    width: 30px;
    height: 20px;
}

.verde {
    height: 15px;
    width: 15px;
    padding-right: 10px;
}

th {
    border: 3px solid rgb(116, 116, 116);
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-family: Qatar, sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

.titulo {
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-family: Qatar, sans-serif;
    margin: 0;
    padding: 10px;
}

.legenda{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    color: rgb(146, 143, 143);
    font-size: 15px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.confrontos ul {
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 300px;
    font-size: 17px;
}

#tabla {
    margin-left: 5%;
    margin-right: 5%;
    margin: 6em;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}



h3 {
    font-family: Qatar, sans-serif;
    font-weight: 900;
    font-size: 25px;
}



h2 {
    font-family: Qatar, sans-serif;
}
.craques1,
.craques2 {
    width: 375px;
    height: 250px;
}


#craques {
    margin-left: 5%;
    margin-right: 5%;
    margin: 6em;
    padding: 4em;
}

#estadios {
    margin-left: 5%;
    margin-right: 5%;
    margin: 6em;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
}


html {
    background-image: url(imgs/fundo.jpg);
}

main {
    border: 10px solid rgb(95, 12, 37);
    background-color: rgb(255, 255, 255);
}

#infos {
    padding-bottom: 50px;
}
.confrontos h3 {
    padding-bottom: 40px;
}

.qualificado {
    background-color: rgb(144, 238, 144);
}

.tabelas {
    justify-content: space-evenly;
    display: flex;
    padding: 40px;
}

table {
    height: 50px;
    width: 500px;
}



#melhores {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vini {
    position: absolute;
    top: 400px;
    left: 700px;
}

#textovini {
    position: absolute;
    top: 490px;
    left: 450px;
}

.nomes {
    margin-left: 550px;
}

#textorodrygo {
    position: absolute;
    top: 830px;
    left: 450px;
}

#textodavies {
    position: absolute;
    top: 1160px;
    left: 450px;
}

#textonunez {
    position: absolute;
    top: 1490px;
    left: 450px;
}

#textopedri {
    position: absolute;
    top: 1820px;
    left: 450px;
}

#textofelix {
    position: absolute;
    top: 2150px;
    left: 450px;
}

#textomodric {
    position: absolute;
    top: 2540px;
    left: 450px;
}

#textodebruyne {
    position: absolute;
    top: 2860px;
    left: 450px;
}

a {
    cursor: pointer;
}

#textodijk {
    position: absolute;
    top: 3200px;
    left: 450px;
}

#textobale {
    position: absolute;
    top: 3530px;
    left: 450px;
}

#textosuarez {
    position: absolute;
    top: 3860px;
    left: 450px;
}

#textomane {
    position: absolute;
    top: 4200px;
    left: 450px;
}

#textokoulibaly {
    position: absolute;
    top: 4520px;
    left: 450px;
}

#textolewa {
    position: absolute;
    top: 4850px;
    left: 450px;
}

#textokroos {
    position: absolute;
    top: 5180px;
    left: 450px;
}

#textoneuer {
    position: absolute;
    top: 5510px;
    left: 450px;
}

#textodimaria {
    position: absolute;
    top: 5840px;
    left: 450px;
}

#textoson {
    position: absolute;
    top: 6170px;
    left: 450px;
}

#textonavas {
    position: absolute;
    top: 6500px;
    left: 450px;
}

#textoneymar {
    position: absolute;
    top: 7310px;
    left: 450px;
}

#textomessi {
    position: absolute;
    top: 7645px;
    left: 450px;
}

#textocr7 {
    position: absolute;
    top: 7980px;
    left: 450px;
}

#textodejong {
    position: absolute;
    top: 8360px;
    left: 450px;
}

#textombappe {
    position: absolute;
    top: 8700px;
    left: 450px;
}

#textokane {
    position: absolute;
    top: 9030px;
    left: 450px;
}

#titulomelhores {
    text-align: center;
}

#retornar-topo {
    background-color: #00000091;
    border-radius: 100%;
    position: fixed;
    bottom: 2em;
    right: 1em;
}

#retornar-topo h1 a {
    text-decoration: none;
    padding: 1em;
    color: white;
    text-align: center;
}
#indice {
    background-color: #00000091;
    color: white;
    position: sticky;
    top: 0;
    left: 7%;
    display: inline-block;
    padding-right: 1%;
    padding-left: 1%;
    border-radius: 10%;
}

#indice ul {
    list-style: none;
    padding: 0;
}

#indice ul li ul {
    display: none;
    list-style: none;

}

#indice:hover ul li ul {
    display: inline;
    margin: 3em;
    padding: 3em;
}

#indice a {
    padding-left: 20px;
}
.bola {
    width: 200px;
    height: 200px;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-40px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-40px);
    }
}

.easter_egg {
    text-align: center
}

.fonte {
    font-size: 18px;
    font-family: Qatar, sans-serif;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
#catar {
    font-size: 18px;
    font-family: Qatar, sans-serif;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}
#main_maioria {
    margin: 6em;
    padding: 4em;
}
.img, .bola, .bandeira_2{
    display: block;
    margin: 0px auto;
    max-height: 60%;
    max-width: 60%;
}
.img {
    max-width: 80%;
}
.paisagem {
    width: 450px;
    height: 260px;
}

.vertical {
    width: 300px;
    height: 450px;
}
.bandeira_2{
    width: 80px;
    height: 60px;
    padding: 20px;
}

#curiosidades {
    display: flex;
}

#curiosidades p {
    width: 40%;
}
.estadios {
    width: 600px;
    height: 310px;
}

.nomeestadio {
    margin-left: 650px;
}

#textolusail {
    position: absolute;
    top: 550px;
    left: 660px;
}

#textobayt {
    position: absolute;
    top: 940px;
    left: 660px;
}

#textokhalifa {
    position: absolute;
    top: 1330px;
    left: 660px;
}

#texto974 {
    position: absolute;
    top: 1720px;
    left: 660px;
}

#textothumama {
    position: absolute;
    top: 2110px;
    left: 660px;
}

#textoeducation {
    position: absolute;
    top: 2495px;
    left: 660px;
}

#textobinali {
    position: absolute;
    top: 2930px;
    left: 660px;
}

#textojanoub {
    position: absolute;
    top: 3315px;
    left: 660px;
}

strong {
    color: red;
}

#polemicas {
    margin-left: 400px;
}
.imgcatar, .lgbt {
    display: block;
    margin: 0px auto;
    width: 470px;
    height: 280px;
}
#container {
    display: flex;
    padding: 20px;
}

#container p {
    width: 40%;
}

.titulo_2 {
    font-size: 40px;
}
h1,
h2,
h3 {
    font-family: Qatar;
    text-align: center;
}

#convocacoes ul li  {
    color: black;
    text-align: left;
    text-decoration: none;
}

#convocacoes h2 {
    text-align: left;
}

#convocacoes ul {
    flex-direction: column;
}
