header h1 {
    color: white;
    margin-left: 10%;
    text-align: left;
    font-weight: bolder;
}

p {
    font-size: 18px;
    font-family: Qatar, sans-serif;
    margin: 0;
}

header {
    background-color: rgb(142, 27, 62);
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(105, 22, 47), rgb(142, 27, 62));
}

body {
    margin: 0;
}

h1 {
    font-family: Qatar, sans-serif;
}

a:link {
    color: bisque
}

a:visited {
    color: bisque
}

a:hover {
    color: rgb(236, 146, 72)
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

ul {
    font-family: Qatar, sans-serif;
    font-weight: 1000;
}

#campeões ul {
    list-style-type: none;
}

nav li,
li a {
    color: white;
    text-decoration: none
}

footer h3 {
    text-align: center;
    color: wheat;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0);
    padding: 1em;
}

h3 {
    font-family: Qatar, sans-serif;
    font-weight: 900;
    font-size: 25px;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    border: 10px solid rgb(95, 12, 37);
    margin: 6em;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    background-color: rgb(255, 255, 255);
}

html {
    background-image: url(imgs/fundo.jpg);
}

@font-face {
    font-family: Qatar;
    src: url(font/Qatar.ttf);
}

h2 {
    font-weight: 900;
    font-size: 25px;
    font-family: Qatar, sans-serif;
}

.bandeira {
    justify-content: flex-start;
    width: 30px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#taça {
    text-align: center;
}

.amarelo {
    background-color: rgb(248, 248, 142);
}

.verde {
    background-color: rgb(153, 245, 153);
}

a {
    cursor: pointer;
}

#baixo {
    display: flex;
}

#curiosidades,
#campeões {
    flex-direction: column;
    margin: 40px;
}

#curiosidades {
    width: 70%;
}

.medalha {
    width: 20px;
    height: 20px;
}

#retornar-topo {
    background-color: #00000091;
    border-radius: 100%;
    position: fixed;
    bottom: 2em;
    right: 1em;
}

#retornar-topo h1 a {
    text-decoration: none;
    padding: 1em;
    color: white;
    text-align: center;
}