h1,
h2,
h3 {
    font-family: Qatar, sans-serif;
    text-align: center;
}

h2,
h3 {
    font-weight: 900;
    font-size: 25px;
}

header a:link, footer a:link {
    color: bisque
}

header a:visited, footer a:visited {
    color: bisque
}

a:hover {
    color: rgb(236, 146, 72)
}

footer ul, header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: Qatar, sans-serif;
    font-weight: 1000;
    text-align: center;
}

li,
li a {
    color: white;
    text-decoration: none
}

footer h3 {
    text-align: center;
    color: wheat;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0);
    padding: 1em;
}

section p {
    margin-top: 40px;
    margin-bottom: 40px;
}

h3 {
    font-family: Qatar, sans-serif;
    font-weight: 900;
    font-size: 25px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

main {
    margin: 6em;
    padding: 4em;
}

img {
    display: block;
    margin: 0px auto;
    max-width: 60%;
    max-height: 60%;
}

#primeira-imagem {
    max-width: 80%;
}

#retornar-topo {
    background-color: #00000091;
    border-radius: 100%;
    position: fixed;
    bottom: 2em;
    right: 1em;
}

#retornar-topo h1 a {
    text-decoration: none;
    padding: 1em;
    color: white;
    text-align: center;
}
.bola{
    width: 200px;
    height: 200px;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
}
@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-40px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-40px);
    }
  }
.easter_egg{
    text-align: center
}
.fonte{
    font-size: 18px;
    font-family: Qatar, sans-serif;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}