
h1,
h2,
h3 {
    font-family: Qatar, sans-serif;
    text-align: center;
}

a:link {
    color: bisque
}

a:visited {
    color: bisque
}

a:hover {
    color: rgb(236, 146, 72)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: Qatar, sans-serif;
    font-weight: 1000;

}

li, li a {
    color: white;
    text-decoration: none
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, .7);
    padding: 1em;
}

footer h3 {
    text-align: center;
    color: wheat;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0);
    padding: 1em;
}

img {
    display: block;
    margin: 0px auto;
}
h3{
    font-weight: 900;
    font-size: 25px;
}
main{
    margin: 6em;
    padding: 4em;
}

.paisagem{
    width: 450px;
    height: 260px;
}
.vertical{
    width: 300px;
    height: 450px;
}
a{
    cursor: pointer;
}
#retornar-topo{
    background-color: #00000091;
    border-radius: 100%;
    position: fixed;
    bottom: 2em;
    right: 1em;
}
#retornar-topo h1 a{
    text-decoration: none;
    padding: 1em;
    color: white;
    text-align: center;
}
.bandeira{
    width: 80px;
    height: 60px;
    padding: 20px;
}
#curiosidades{
    display: flex;
}
#curiosidades p{
    width: 40%;
}