header h1 {
    color: white;
    margin-left: 10%;
    text-align: left;
    font-weight: bolder;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: Qatar, sans-serif;
}

header {
    background-color: rgb(142, 27, 62);
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(105, 22, 47), rgb(142, 27, 62));
}

body {
    margin: 0;
}

@font-face {
    font-family: Qatar;
    src: url(font/Qatar.ttf);
}

h1 {
    font-family: Qatar, sans-serif;
}

a:link {
    color: bisque
}

a:visited {
    color: bisque
}

a:hover {
    color: rgb(236, 146, 72)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: Qatar, sans-serif;
    font-weight: 1000;

}

nav li, li a {
    color: white;
    text-decoration: none
}

footer h3 {
    text-align: center;
    color: wheat;
}

footer ul {
    list-style: none;
    justify-content: space-evenly;
}

footer {
    margin-top: 30px;
    background-color: rgba(0, 0, 0);
    padding: 1em;
    display: flex;
}

th {
    border: 3px solid rgb(116, 116, 116);
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-family: Qatar, sans-serif;
    font-size: 20px;
}

table {
    border-collapse: collapse;
}

.titulo {
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-family: Qatar, sans-serif;
    margin: 0;
    padding: 10px;
}

.legenda,
p {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    color: rgb(146, 143, 143);
    font-size: 15px;
    margin: 7px;
}

.confrontos ul {
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 300px;
}

main {
    margin-left: 5%;
    margin-right: 5%;
    border: 10px solid rgb(95, 12, 37);
    margin: 6em;
    padding-top: 2em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 4em;
    background-color: rgb(255, 255, 255);
}

.bandeira {
    justify-content: flex-start;
    width: 30px;
    height: 20px;
}

.verde {
    height: 15px;
    width: 15px;
    padding-right: 10px;
}

h3 {
    font-family: Qatar, sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.qualificado {
    background-color: rgb(144, 238, 144);
}

main .tabelas {
    justify-content: space-evenly;
    display: flex;
    padding: 40px;
}

main table {
    height: 50px;
    width: 500px;
}

.confrontos ul {
    font-size: 17px;
}

#infos {
    padding-bottom: 50px;
}
.confrontos h3{
    padding-bottom: 40px;
}
html{
    background-image: url(imgs/fundo.jpg);
}
a{
    cursor: pointer;
}