header h1 {
    color: white;
    margin-left: 10%;
    text-align: left;
    font-weight: bolder;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-family: 'PT Sans', sans-serif;
}

header {
    background-color: rgb(142, 27, 62);
    margin: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, rgb(105, 22, 47), rgb(142, 27, 62));
}

body {
    margin: 0;
}
h1 {
    font-family: 'PT Sans', sans-serif;
}
a:link {
    color: bisque
}
a:visited{
    color:bisque
}

a:hover {
    color: rgb(236, 146, 72)
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    font-family: 'PT Sans', sans-serif;
    font-weight: 1000;

}
li a {
    color: white;
    text-decoration: none
}
#footer p {
    color: azure
}

#footer .logo-footer {
    height: 175px;
    width: 125px;
}

#footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .7);
    padding: 1em;
    clear: right;
}

#footer p {
    display: flex;
}
#footer .texto-rodape {
    display: inline-block;
    width: calc(100% - 215px - 2em - 2em);
    margin-left: 1em;
    vertical-align: top;
}
th{
    border: 3px solid rgb(116, 116, 116);
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border-radius: 10px;
    width: 50px;
    height: 30px;
    font-family: 'PT Sans', sans-serif;
}
table{
    border-collapse: collapse;
}
.titulo{
    font-size: 60px;
    display: flex;
    justify-content: center;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 10px;
}
.legenda, p{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    color: rgb(146, 143, 143);
    font-size: 15px;
    margin: 7px;
}
.confrontos ul{
    flex-direction: column;
    justify-content: center;
}
main {
    margin-left: 5%;
    margin-right: 5%;
}
.bandeira{
    justify-content: flex-start;
    width: 30px;
    height: 20px;
}
.verde{
    height: 15px;
    width: 15px;
    padding-right: 10px;
}
h3{
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
}
.qualificado{
    background-color: rgb(144, 238, 144);
}